<h1>Todas as listas</h1>

<table>
  <tr>
    <th>Nome: <%= @list.name %></th>
    <th>Tipo: <%= @list.tipo %></th>
  </tr>
</table>
<br><br>
<table class="tasks-table">
  <%= render @list.tasks %>
</table>
<br><br><br>
<%= render "tasks/form", list: @list, task: @task %>
<br>
