<h1>Favorite#index</h1>
<p>Find me in app/views/favorite/index.html.erb</p>
<% @lists.each do |list| %>
  <tr>
    <td><%= list.name %></td>
    <td><%= list.tipo %></td>
    <td><%= link_to "Show", list %></td>
  </tr>
<% end %>
